In [1]:
import numpy as np 
import matplotlib as plt 
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
from pyECLAT import ECLAT

In [2]:
df=pd.read_csv('../NCKH/store_data.csv', header=None)

In [3]:
df.shape

(7501, 20)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
eclat_instance = ECLAT(data=df, verbose=True)

100%|████████████████████████████████████████████████████████████████████████████████| 120/120 [00:01<00:00, 63.56it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 120/120 [00:00<00:00, 3043.58it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 120/120 [00:00<00:00, 859.69it/s]

In [16]:
get_ECLAT_indexes, get_ECLAT_supports = eclat_instance.fit(min_support=0.04,min_combination=2,max_combination=3,separator=' & ',verbose=True)

Combination 2 by 2

435it [00:14, 29.16it/s]

Combination 3 by 3

4060it [02:02, 33.22it/s]

In [ ]:
result = pd.DataFrame(get_ECLAT_supports.items(), columns=['Item', 'Support'])
result = result.sort_values(by=['Support'], ascending=False).reset_index(drop=True)
result

                          Item   Support
0    spaghetti & mineral water  0.059725
1    chocolate & mineral water  0.052660
2         eggs & mineral water  0.050927
3         milk & mineral water  0.047994
4  ground beef & mineral water  0.040928